node_modules/
dist/
.env
.env.local
*.log
.venv/
models/**/*.weights
models/**/*.pt
models/**/*.hdf5
models/**/*.onnx
__pycache__/
*.pyc
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
